<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <!--<link href="/public/stylesheets/bootstrap.min.css" rel="stylesheet"> -->
    <%= stylesheet_link_tag "bootstrap.min" %>

    <!-- Custom CSS -->
    <!--<link href="/public/stylesheets/stylish-portfolio.css" rel="stylesheet">-->
     <%= stylesheet_link_tag "stylish-portfolio" %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>


</head>

<body>
  <div id="wrapper">

    <div id="header">
      <% if signed_in? %>
        <%= button_to t(".sign_out"), sign_out_path, method: :get %>
      <% else %>
        <%= link_to t(".sign_in"), sign_in_path %>
      <% end %>
    </div>

    <div id="flash">
      <% flash.each do |key, value| -%>
        <div id="flash_<%= key %>"><%=h value %></div>
      <% end %>
    </div>


      <!-- Sidebar -->
      <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
              <li class="sidebar-brand">
                  <a href="#">
                      CourseCat
                  </a>
              </li>
              <li>
                  <a href="landing">Home</a>
              </li>
              <li>
                  <a href="subjects">Subjects</a>
              </li>
              <li>
                  <a href="courses">Courses</a>
              </li>
              <li>
                  <a href="instructors">Instructors</a>
              </li>

          </ul>
      </div>
      <!-- /#sidebar-wrapper -->

      <%= yield%>
    </div>
</body>

</html>
